.foot {
    color: blue;
    background-color: #F5FFFA;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.foot div {
    max-width: 650; 
    margin: auto;
    border-top: 1px solid #F0FFF0; 
    box-shadow: 0px -1px 5px #FFDEAD;
}

.foot h6 {
    margin: 0px auto;
    margin-bottom: 10px;
}


