.body {
  display: grid;  
  min-height: 100%;   
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "sidebar  content"
                        "footer  footer";
}

.main {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  justify-items: center;
  align-items: center;
}


@media only screen and (min-width: 600px) {
  .body {
      display: grid;
      grid-template-columns: 300px 1fr;
      grid-template-areas: "sidebar  content"
                           "footer   footer";
       }

  .sidebar li {
    display: block;
  }

}