.header {
    padding: 1rem 0 3rem;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-list li {
    font-size: .9rem;
    margin-right: 1.5rem;
    text-decoration: none;
}

