.top-border {
    padding: 0 0 0 30px;
}

.title {
    color: #488888;
    text-decoration: none;
    text-align: center;
    position: relative;
    padding-top: 20px;
    font-size: 2.15rem;
}

.p {
    color: #b43434;
    text-decoration: none;
    text-align: center;
    position: relative;
    // padding-top: 20px;
    font-size: 1.15rem;
}

.side-nav {
    // height: 100%;
    // width: 300px;
    position: left;
    z-index: 1;
    top: 0;
    left: 10px;
    // background-color: whitesmoke;
    // overflow-x: hidden;
    // padding-top: 20px;
    // margin-bottom: 0; 
    // padding-bottom: 0;
    box-shadow: 3px 2.5px 3px grey;
}

.side-nav li {
    padding: 1rem 0 10px 55px;
    display: block;
}

.link-item {
    font-size: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    color: #666666;
}

.link-item :hover {
    color: #488888;
}

.active-nav-item {
    // background-color: hotpink;
    color:	#788232;
}



